@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.display-flex {
  display: flex;
}
.font-gray {
  color: #424242;
  /* for dark 2 */
}
.btn-primary {
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  color: white;
}

/* Header style */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar related style */
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-left: 30px;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-tittle {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-weight: 400;
  font-size: 1rem;
}
.banner-image {
  width: 100%;
}

/* main style */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/*Responsive media query  */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links {
    flex-direction: column;
  }
}
