@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.display-flex {
  display: flex;
}
.font-gray {
  color: #424242;
  /* for dark 2 */
}
.btn-primary {
  background-color: #ff900e;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  color: white;
}

/* Header style */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Navbar related style */
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-left: 30px;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-content {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-tittle {
  font-weight: 700;
  font-size: 4rem;
}
.banner-description {
  font-weight: 400;
  font-size: 1rem;
}
.banner-image {
  width: 100%;
}

/* main style */
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.teams {
  align-items: center;
}
.team-features {
  /* padding: 5rem; */
  margin-left: 130px;
  max-width: 500px;
}
.feature-tittle {
  font-size: 2.8rem;
}
#colour-orange {
  color: rgba(255, 144, 14, 1);
}

/* Feature related style */
.Features-love {
  display: flex;
  gap: 140px;
}
.features-headline {
  font-size: 3rem;
  border-left: 5px solid #ff900e;
  padding: 20px;
}
.card-container {
  margin-left: 30px;
  margin-top: 50px;
  box-shadow: 0px 10px 20px 0px saddlebrown;
  padding: 10px;
}
.card-heading {
  margin: 0px;
}
/* Facts-section style */

.fact-card {
  border: 2px solid salmon;
  max-width: 240px;
  max-height: 240px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin-top: 50px;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-num {
  font-size: 2rem;
  margin: 5px;
}
.fact-name {
  margin: 5px;
}

/* sponsor related style */
.sponsor-info {
  max-width: 542px;
  justify-content: center;
  margin: 50px auto;
  text-align: center;
}
.sponsor-tittle {
  font-weight: 700;
  font-size: 2.8rem;
}
.sponsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px auto;
}
/*Responsive media query-(Small device) */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-image,
  .sponsor-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .team-features {
    margin: 10px;
  }
}
.sponsor-company {
  gap: 50px;
  justify-items: center;
}

/* Responsive media query-(Medium Device) */
@media screen and (min-width: 756px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .team-features {
    margin: 50px 50px;
  }
  .sponsor-company .fact-container {
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
  }
}
